### Introduction

Bogotaâ€™s TransMilenio Bus Rapid Transit system, which opened in 2000, is one of the largest and most heavily used in the world. The system which handles passengers in excess of 2.4 million every day provides transportation for about 69% of the population of Bogota

This project's objective is to extract a point in time ridership information covering the BRT's over 190 stations, transform and load this information into a Postgres Database to allow for easy querying and analysis of the complete data.

### Dataset

The dataset is in the format of fixed width text files. Each text file may have repeating headers in the body of the files. Each file is stored by date in a month folder with th folder itself being stored in a phase I or phase II folder. The sample data is shown below. Some files had extra columns included in the data.

CODIGOESTACION                         NUMEROMOLINETE                         FECHAINICIAL        FECHAFINAL          S   CANTIDAD
-------------------------------------- -------------------------------------- ------------------- ------------------- - ----------
12000                                  1211201                                01-04-2010 04:00:00 01-04-2010 04:14:59 S          1
12000                                  1211201                                01-04-2010 05:45:00 01-04-2010 05:59:59 E          3
12000                                  1211201                                01-04-2010 06:00:00 01-04-2010 06:14:59 E          3

#### Execution.
The pandas module was used heavily to import the Fixed width Files, remove unneeded columns, and prep the files before loading into a Postgres database using sqlalchemy. Due to unknown issues with jupyter notobook, the complete execution was run directly in windows cmd prompt.

In [ ]:
import glob            # use glob module to specify base directory and file extensions to grab
import pandas as pd
import numpy as np
import time

t0 = time.clock()

file_list = glob.glob("E:/Bogota_BRT_project_data/data/***/**/*.txt")


# READ AND TRANSFORM FILES WITHIN THIS FOR-LOOP

# Empty list to hold processed files
frames = []

# Keep count of processed files  
count = 1

for file in file_list:
     
    with open(file) as f:
        line = f.readline()
        while line.isspace():
            line = f.readline()
            break
        header = line.lower().strip().split()

    # Transform headers. Some file headers have 'sum(cantidad)' instead of 'cantidad', change all to cantidad
    if 'sum(cantidad)' in header:
        header = ['cantidad' if x == 'sum(cantidad)' else x for x in header]


    # read fixed width file
    df = pd.read_fwf(file, header =0, names=header)

    # test for repeating headers and the '---' character.Header text is capitalized. 
    a = df.loc[df['s'] == '-']

    b = df.loc[df['codigoestacion'] == 'CODIGOESTACION']

    # grab their indeces to delete rows
    row_to_clean1 = list(a.index)

    row_to_clean2 = list(b.index)


    # drop rows using indexes
    df.drop(row_to_clean1, axis = 0, inplace=True)

    df.drop(row_to_clean2, axis = 0, inplace=True)

    # Get a list of cols from dataframe and delete cols 'IDARTIFICIALTARIFA' and 'DESCRIPCION' if they exist
    if 'idartificialtarifa' and 'descripcion' in df.columns:
        df.drop(['idartificialtarifa', 'descripcion'], axis = 1, inplace=True)
    
    # Convert dates from d-m-y to y-m-d...this is ISO 8601 standard. Will prevent problems when exporting to postgres
    cols = ['fechafinal','fechainicial']

    for col in cols:
        df[col] = pd.to_datetime(df[col], dayfirst = True)
    
    # append dataframes to the list object frames.
    frames.append(df)

    print(" {}: {}: processed".format(count, file))

    count += 1

# Join all dataframes in the frames list object together along the rows (axis = 0)    
DF = pd.concat(frames, ignore_index = True)

# Access dframe index and set it to start from 1. Set the index name to 'id'
DF.index = np.arange(1, len(DF)+1)
DF.index.name = 'id'

t1 = time.clock()

print("Total number of files processed: {}".format(count))
print("Time to execute in minutes: {}".format((t1-t0)/60))

### Export to PostgreSQL

In [ ]:
import sqlalchemy  # Package for accessing SQL databases via Python
import psycopg2
from sqlalchemy.types import String, Integer, DateTime # use to define dataypes in the db

t2 = time.clock()

# Create connection engine - format: "databasedialect://user:password@host/database"
engine = sqlalchemy.create_engine("postgresql://postgres:12345@localhost/bogota_metro_production")
con = engine.connect()

# Verify if any tables exist in the database' 
print(engine.table_names())

# Specify tablename in postgres Dbase
table_name = 'bogota_metro'

# Write dataframe to Postgres in chunks
try:
    DF.to_sql(table_name, con, if_exists = "replace",chunksize= 10000, index = True, 
              dtype={'codigoestacion': Integer, 'numeromolinete': Integer,
                     'fechainicial':DateTime,'fechafinal':DateTime,'s':String,'cantidad':Integer})    
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Postgres Table {} has been successfully created".format(table_name) )
finally:
    con.close()
    
t3 = time.clock()
print("Time to load 88 Million rows from dataframe to Postgres: {}".format((t3-t2)/60))

![title](Capture.jpg)

#### Run a simple query on database

In [5]:
con = engine.connect()
# create a cursor obj using the connection
#cur = con.cursor()
query = '''select *  
           from bogota_metro
           order by id desc
           limit 10;'''

sql_df = pd.read_sql_query(query, con)

sql_df

,id,codigoestacion,numeromolinete,fechainicial,fechafinal,s,cantidad
0,88217298,7113,1111401,2010-09-30 23:15:00,2010-09-30 23:29:59,E,2
1,88217297,7113,1111401,2010-09-30 22:45:00,2010-09-30 22:59:59,S,1
2,88217296,7113,1111401,2010-09-30 22:30:00,2010-09-30 22:44:59,S,9
3,88217295,7113,1111401,2010-09-30 22:30:00,2010-09-30 22:44:59,E,1
4,88217294,7113,1111401,2010-09-30 22:15:00,2010-09-30 22:29:59,S,1
5,88217293,7113,1111401,2010-09-30 22:15:00,2010-09-30 22:29:59,E,3
6,88217292,7113,1111401,2010-09-30 22:00:00,2010-09-30 22:14:59,S,9
7,88217291,7113,1111401,2010-09-30 21:45:00,2010-09-30 21:59:59,S,6
8,88217290,7113,1111401,2010-09-30 21:30:00,2010-09-30 21:44:59,S,4
9,88217289,7113,1111401,2010-09-30 21:30:00,2010-09-30 21:44:59,E,1

Table shows up with 88.2 Million plus rows with fechainicial and fechafinal datetime columns transformed from D-M-Y to Y-M-D ISO 8601 compliant.